contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.4
h5py==3.8.0
importlib-resources==5.12.0
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.40.0
matplotlib==3.7.1
numba==0.57.0
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pynndescent==0.5.10
pyparsing==3.0.9
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
umap-learn==0.5.3
wordcloud==1.9.2
zipp==3.15.0
torch==2.0.0
torchvision==0.15.1
git+https://github.com/openai/CLIP.git
umap-learn==0.5.3
xmltodict